
.contact {
    max-width: 600px;
    margin: auto;
   
}
.title{
    text-align: center;
}
.contact input, .contact textarea {
    padding: 10px 8px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(85, 85, 85);
    border-image: initial;
}
input, label, textarea {
    display: block;
    width: 100%;
    margin: 2px auto;
}
label {
    cursor: default;
}
.btn {
    margin: auto;
    display: block;
    background-color: transparent;
    color: rgb(255, 82, 59);
    font-size: 14px;
    cursor: pointer;
     margin-top: 20px;
    padding: 10px 20px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(255, 82, 59);
    border-image: initial;
    transition: all 0.3s ease 0s;
}

form {
    display: block;
    margin-top: 0em;
}

body {
    font-family: Poppins, sans-serif;
}
.small-container {
    max-width: 1080px;
    width: 100%;
    height: 50%;
    margin:10%;
}
div {
    display: block;
}